<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>FlatMate</title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,300,700">

    <environment names="Development">
        <link rel="stylesheet" asp-href-include="~/dist/css/**/*.css"/>
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="~/dist/css/flatmate.min.css" asp-append-version="true"/>
    </environment>
</head>
<body>
<main class="wrapper">
    @RenderBody()
</main>
</body>
</html>
