# IDE
.idea/
.vs/

*.user

# .NET
[Bb]in/
[Oo]bj/

# FlatMate
typings/

/src/FlatMate.Web/wwwroot/css/**/*.css
/src/FlatMate.Web/wwwroot/js/**/*.js.map
/src/FlatMate.Web/wwwroot/js/**/*.js
/src/FlatMate.Web/wwwroot/dist/**/*
/dist

node_modules/


*.log