<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <!-- <add key="RussianBee" value="http://build.russianbee.de/guestAuth/app/nuget/v1/FeedService.svc/"/> -->
        <add key="RussianBee" value="https://prayzzz.pkgs.visualstudio.com/_packaging/nupkg/nuget/v3/index.json"/>
    </packageSources>
</configuration>