@{
    Layout = "_Layout";
    ViewData["Title"] = "Interner Fehler";
    ViewData["PageTitle"] = "Interner Fehler";
}


<section class="container">

    <div class="row">
        <div class="col">
            <div class="standard-box" style="padding: 1rem;">
                Leider ist ein interner Fehler aufgetreten :(
            </div>
        </div>
    </div>

</section>