@{
    Layout = "_Layout";
    ViewData["Title"] = "Interner Fehler";
    ViewData["PageTitle"] = "Interner Fehler";
}

<section class="container">

    <div class="page-header">
        <h1 class="page-title"></h1>
        <div class="page-options d-flex"></div>
    </div>

</section>

<section class="container">

    <div class="card">
        <div class="card-status bg-red"></div>
        <div class="card-header">
            <h3 class="card-title">@ViewData["PageTitle"]</h3>
        </div>
        <div class="card-body">
            Leider ist ein interner Fehler aufgetreten :(
        </div>
    </div>

</section>