@{
    Layout = "_Layout";
    ViewData["Title"] = "Seite nicht gefunden";
    ViewData["PageTitle"] = "Seite nicht gefunden";
}


<section class="container">
    <h1>Seite nicht gefunden :(</h1>
</section>