@{
    Layout = "_Layout";
    ViewData["Title"] = "Seite nicht gefunden";
    ViewData["PageTitle"] = "Seite nicht gefunden";
}


<section class="container">
    
    <div class="row">
        <div class="col">
            <div class="standard-box" style="padding: 1rem;">
                vier null vier <br />
                Die Seite konnte nicht gefunden werden :(
            </div>
        </div>
    </div>

</section>