@{
    Layout = "_Layout";
    ViewData["Title"] = "Zutritt verweigert";
    ViewData["PageTitle"] = "Zutritt verweigert";
}


<section class="container">

    <div class="row">
        <div class="col">
            <div class="standard-box" style="padding: 1rem;">
               Du darfst das nicht sehen.
            </div>
        </div>
    </div>

</section>