@model FlatMate.Web.Areas.Account.Data.LoginVm

@{
    Layout = "_LayoutBlank";
    ViewData["Title"] = "Login";
}

<section class="container centered-form login">

    <h1 style="text-align: center">FlatMate</h1>

    <div class="alert-wrapper">
        @if (Model.IsError)
        {
            <div class="alert alert-danger">@Model.ErrorMessage</div>
        }
    </div>

    <form asp-area="Account" asp-controller="Login" method="post">
        <fieldset>

            <div class="form-group">
                <label asp-for="UserName"></label>
                <input asp-for="UserName" autofocus Value="fake" required />
            </div>

            <div class="form-group">
                <label asp-for="Password"></label>
                <input asp-for="Password" Value="123456789" required />
            </div>

            <input asp-for="ReturnUrl" type="hidden" />

            <div class="form-group align-right">
                <input class="btn-primary" type="submit" value="Login">
            </div>

        </fieldset>
    </form>

</section>
