.itemlist-view {
    .lasteditor {
        display: block;
    }

    @media (max-width: 576px) {
        .lasteditor {
            display: none;
        }
    }

    .drag-handle {
        margin-right: 1rem;
        cursor: move;
    }

    .group-row {
        background-color: #f6f6f9
    }

    .add-item-cell {
        padding-left: calc(1rem + 16px)
    }
}
