@import '../variables.scss';

.itemlist-view {

    .group-title, .item-name {
        cursor: pointer;

        i {
            color: #555;
            display: none;
        }

        &:hover {
            i {
                display: inline-block;
            }
        }
    }



    .lasteditor {
        display: block;
    }

    @media (max-width: 576px) {
        .lasteditor {
            display: none;
        }
    }

    .drag-handle {
        margin-right: 1rem;
        cursor: move;
    }

    .add-item-cell {
        padding-left: calc(1rem + 16px)
    }

    .group-new {
        margin-top: 0.5rem;
    }
}
