@model FlatMate.Web.Areas.Account.Data.RegisterVm

@{
    Layout = "_LayoutBlank";
}

<section class="container register">
    <div style="width: 100%;">
        <h1 style="text-align: center">Add User</h1>
        <form asp-area="Account" asp-controller="Register" method="post">
            <fieldset>
                <label asp-for="UserName"></label>
                <input asp-for="UserName"/>

                <label asp-for="Email"></label>
                <input asp-for="Email"/>

                <label asp-for="Password"></label>
                <input asp-for="Password"/>

                <label asp-for="PasswordConfirmation"></label>
                <input asp-for="PasswordConfirmation"/>

                <div class="pull-right">
                    <input class="button-primary" type="submit" value="Send">
                </div>
            </fieldset>
        </form>
    </div>
</section>
