@model FlatMate.Web.Areas.Account.Data.ChangePasswordVm

@{
    Layout = "_Layout";
    ViewData["Title"] = "Passwort ändern";
    ViewData["PageTitle"] = "Passwort ändern";
}

<section class="container">

    <div class="page-header">
        <h1 class="page-title">@ViewData["PageTitle"]</h1>
        <div class="page-options d-flex">
            <a asp-action="Index" class="btn">Mein Profil</a>
        </div>
    </div>

</section>

<section class="container centered-form">

    <form asp-area="Account" asp-controller="MyProfile" asp-action="ChangePassword" method="post" class="card">
        <div class="card-body">
            <fieldset>
                <div class="form-group">
                    <label asp-for="OldPassword"></label>
                    <input asp-for="OldPassword" required/>
                </div>

                <div class="form-group">
                    <label asp-for="NewPassword"></label>
                    <input asp-for="NewPassword" required/>
                </div>

                <div class="form-group">
                    <label asp-for="NewPasswordConfirmation"></label>
                    <input asp-for="NewPasswordConfirmation" required/>
                </div>
            </fieldset>
        </div>

        <div class="card-footer">
            <div class="d-flex">
                <input class="btn btn-primary ml-auto" type="submit" value="Ändern">
            </div>
        </div>
    </form>

</section>