@model FlatMate.Web.Areas.Account.Data.ChangePasswordVm

@{
    Layout = "_Layout";
    ViewData["Title"] = "Passwort ändern";
    ViewData["PageTitle"] = "Passwort ändern";
}

<section class="container">
    <div class="flex-row actions">
        <a asp-action="Index">< Mein Profil</a>
    </div>
</section>

<section class="container">
    
    <div class="centered-form standard-box">
        <form asp-area="Account" asp-controller="MyProfile" asp-action="ChangePassword" method="post">
            <fieldset>

                <div class="form-group">

                    <label asp-for="OldPassword"></label>
                    <input asp-for="OldPassword" required/>
                </div>

                <div class="form-group">
                    <label asp-for="NewPassword"></label>
                    <input asp-for="NewPassword" required/>
                </div>

                <div class="form-group">
                    <label asp-for="NewPasswordConfirmation"></label>
                    <input asp-for="NewPasswordConfirmation" required/>
                </div>

                <div class="form-group align-right">
                    <input class="btn-primary" type="submit" value="Ändern">
                </div>

            </fieldset>
        </form>
    </div>

</section>
