@model FlatMate.Web.Areas.Account.Data.MyProfileVm

@{
    Layout = "_Layout";
    ViewData["Title"] = "Mein Profil";
    ViewData["PageTitle"] = "Mein Profil";
    ViewData["MainClass"] = "myprofileindex";
}

<section class="container">

    <div class="flex-row align-right actions">
        <a asp-action="ChangePassword">Passwort ändern</a>
    </div>

</section>

<section class="container">

    <h3>@Model.UserJso.UserName</h3>

    <div class="standard-box flex-row" style="padding: 1em">
        <div>Hier wird nie eine Profilübersicht entstehen.</div>
    </div>

</section>