@model FlatMate.Web.Areas.Account.Data.MyProfileVm

@{
    Layout = "_Layout";
    ViewData["Title"] = "Mein Profil";
    ViewData["PageTitle"] = "Mein Profil";
    ViewData["MainClass"] = "account-myprofile-index";
}

<section class="container">

    <div class="page-header">
        <h1 class="page-title"></h1>
        <div class="page-options d-flex">
            <a asp-action="ChangePassword" class="btn">Passwort ändern</a>
        </div>
    </div>

</section>

<section class="container">

    <div class="card">
        <div class="card-header">
            <div class="card-title">
                @Model.UserJso.UserName
            </div>
        </div>
        <div class="card-body">
            Hier wird nie eine Profilübersicht entstehen.
        </div>
    </div>

</section>