$color-primary: #1A8EE9;
$color-success: #5cb85c;
$color-info: #5bc0de;
$color-warning: #f0ad4e;
$color-danger: #d9534f;

$color-font: #000;
$color-border: #d1d1d1;
$color-background: #f4f5f6;
$color-font-input: #55595c;
$color-main-background: #e5e7ea;
