@model FlatMate.Web.Areas.Offers.Data.ProductFavoriteManageVm

@{
    Layout = "_Layout";
    ViewData["Title"] = "Produkt Favoriten";
    ViewData["PageTitle"] = "Produkt Favoriten";
    ViewData["MainClass"] = "productfavorite-manage";
}

<section class="container" style="min-height: 100vh">

    <product-favorite-editor style="height: 100%"></product-favorite-editor>

</section>

<script type="text/html" id="product-favorite-editor-template">

    <div class="row select-market">
        <div class="col-2 align-self-center">
            Markt:
        </div>
        <div class="col-4 align-self-center">
            <select data-bind="options: model.markets, optionsText: 'name', value: selectedMarket,"></select>
        </div>
    </div>

    <div class="row filter">
        <div class="col-2 align-self-center">
            Suche:
        </div>
        <div class="col-4 align-self-center">
            <input type="text" data-bind="value: searchTerm" placeholder="Name, Marke oder Beschreibung..."/>
        </div>
        <div class="col-6 align-self-center">
            <label>
                <input type="checkbox" data-bind="checked: onlyFavorites"/> Nur Favoriten
            </label>
        </div>
    </div>

    <div class="row">

        <!-- ko foreach: productPage -->

        <div class="col-sm-6 col-lg-3 col-xl-2 col-product">
            <div class="standard-box product-box">

                <div class="image">
                    <img class="b-lazy" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-bind="attr: {  'data-src': imageUrl }" width="150" height="150"/>
                </div>

                <div class="name">
                    <span data-bind="text: name"></span><br/>
                </div>

                <div class="row no-gutters product-actions">
                    <div class="col-12" data-bind="visible: showFavoriteBtn">
                        <div class="btn btn-secondary" title="Als Favorit hinzufügen" data-bind="click: favorite">
                            <i class="fa fa-heart" aria-hidden="true"></i> Als Favorit
                        </div>
                    </div>
                    <div class="col-12" data-bind="visible: showUnfavoriteBtn">
                        <div class="btn btn-success" title="Als Favorit löschen" data-bind="click: unfavorite">
                            <i class="fa fa-heart" aria-hidden="true"></i> Favorisiert
                        </div>
                    </div>
                    <div class="col-12" data-bind="visible: showLoadingButton">
                        <div class="loading">
                            <i class="fa fa-circle-o-notch fa-spin fa-fw" aria-hidden="true"></i> Lade...
                        </div>
                    </div>
                </div>

                <div class="row no-gutters product-actions">
                    <div class="col">
                        <a href="#" data-bind="attr: { href: detailUrl }" target="_blank" class="btn btn-secondary" title="Details">Details</a>
                    </div>
                </div>

            </div>
        </div>

        <!-- /ko -->

    </div>
    
    <div class="row">
        <div class="col">
            <div class="row actions">
                <div class="col-auto" data-bind="if: currentPage() > 0">
                    <a href="#" data-bind="click: prevPage">&lt; Zurück</a>
                </div>
            </div>
        </div>
        
        <div class="col flex-h-center flex-v-center" style="margin-bottom: .5rem">        
            <span data-bind="text: pageString"></span>            
        </div>
        
        <div class="col">
            <div class="row align-right actions">
                <div class="col-auto" data-bind="if: hasMoreProducts()">
                    <a href="#" data-bind="click: nextPage">Weiter &gt;</a>
                </div>
            </div>
        </div>
    </div>


</script>

@section viewData {
    <script type="text/json" id="data-product-favorite-manage">
        @Json.Serialize(Model)
    </script>
}