@model FlatMate.Web.Areas.Lists.Components.MyListsTileVm

<h3>Listen</h3>

@foreach (var list in Model.Lists)
{
    <div class="list-entry">
        <a asp-area="Lists" asp-controller="ItemList" asp-action="View" asp-route-id="@list.Id">@list.Name</a>
    </div>
}