@model FlatMate.Web.Areas.Offers.Data.OfferViewVm

@{
    Layout = "_Layout";
    ViewData["Title"] = "Im Angebot bei " + Model.Company.Name;
    ViewData["PageTitle"] = "Im Angebot";
    ViewData["MainClass"] = "offer-view";
}

<section class="container">
    <div class="page-header">
        <h1 class="page-title">@ViewData["PageTitle"]</h1>
        <div class="page-options d-flex">
            <a asp-controller="ProductFavorite" asp-action="Manage" asp-route-companyId="@Model.Company.Id" class="btn">Favoriten verwalten</a>
        </div>
    </div>
</section>

<section class="container" style="min-height: 100vh">

    <company-offers-list style="height: 100%"></company-offers-list>

</section>

<script type="text/html" id="company-offers-list-template">

    <div class="card">

        <div class="card-body">
            <div class="row">
                <div class="col-sm-6 col-lg-3 d-flex align-items-center justify-content-center">
                    <img data-bind="attr: { src: company.imagePath, alt: company.name }" height="66"/>
                </div>
                <div class="col-6 d-none d-lg-block col-market-list align-self-center">
                    Angebote von:
                    <ul data-bind="foreach: markets">
                        <li>
                            <span data-bind="text: name"></span> (<span data-bind="text: street"></span>)
                        </li>
                    </ul>
                </div>
                <div class="col-sm-6 col-lg-3 col-offer-count align-self-center">
                    <span data-bind="text: offerCount"></span> Produkte im Angebot<br/>
                    von <span data-bind="text: offersFromFormatted"></span> bis <span data-bind="text: offersToFormatted"></span>
                </div>
            </div>
        </div>

    </div>

    <!-- ko if: favorites.length > 0 -->
    <h3>Favoriten</h3>
    <div class="row">

        <!-- ko foreach: favorites -->
        <div class="col-sm-6 col-lg-4 col-xl-3 col-offer" data-bind="component: {name: 'offered-product-tile', params : {product: $parentContext.$component.getOfferedProductModel($data)}} "></div>
        <!-- /ko-->

    </div>
    <!-- /ko -->

    <!-- ko foreach: categories -->
    <h3 data-bind="text: name"></h3>
    <div class="row">

        <!-- ko foreach: products -->
        <div class="col-sm-6 col-lg-4 col-xl-3 col-offer" data-bind="component: {name: 'offered-product-tile', params : {product: $parentContext.$component.getOfferedProductModel($data)}} "></div>
        <!-- /ko-->

    </div>
    <!-- /ko-->
</script>

<script type="text/html" id="offered-product-tile-template">


    <a class="card card-offer" data-bind="attr: { 'href': productUrl }">
        <div class="card-body p-3">

            <div class="d-flex align-items-center justify-content-center" style="position: relative">
                <img class="b-lazy"
                     src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                     data-bind="attr: { 'data-src': imageUrl, 'alt': name }"
                     width="150"
                     alt=""/>
            </div>

            <div class="pt-2 f-stretch">
                <span data-bind="text: name"></span>
            </div>

            <!-- ko if: isStartingLater -->
            <div class="text-md">
                ab <span data-bind="text: offerFrom"></span>
            </div>
            <!-- /ko -->

            <div class="pt-2 d-flex">
                <span class="ml-auto" style="font-size: 1.5rem"><span data-bind="text: price"></span> €</span>
            </div>
        </div>

        <!-- ko if: !isEverywhereAvailable -->
        <div class="market-location-box">
            <i class="fa fa-map-marker market-location"></i>
        </div>
        <div class="market-list">
            <div>
                Nur verfügbar bei:
            </div>
            <ul data-bind="foreach: offers">
                <li>
                    <span data-bind="text: $parent.getMarketName(marketId).name"></span>
                </li>
            </ul>
        </div>
        <!-- /ko-->

    </a>


</script>

@section viewData {
    <script type="text/json" id="data-company-offers-list">
        @Json.Serialize(Model)
    </script>
}