.company-index {
    .card-company {
        display: block;
        color: #000;
        height: 100%;
        margin-bottom: 0;

        img {
            display: block;
        }
    }

    .col-market {
        padding-bottom: 30px;
    }
}
