@import '../variables.scss';

.company-view {
    .col-offer {
        margin-bottom: 1rem;
    }

    .col-market-image {
        text-align: center;
    }

    .col-market-info {
        align-self: center;

        ul {
            padding-left: .25rem;
            margin: .1em;
            list-style: none;
        }
    }

    .col-offer-count {
        align-self: center;
        text-align: right;
    }

    .market-info-box {
        padding: 1rem;
    }

    .offer-box {
        display: flex;
        flex-flow: column;
        height: 100%;
        padding: 0.75rem;
        position: relative;

        a {
            color: $color-font;
        }

        .image {
            position: relative;
            margin-bottom: 1rem;

            img {
                display: block;
                margin-left: auto;
                margin-right: auto
            }
        }

        .name {
            flex: 2 0 auto;
        }

        .price {
            min-height: 1.5rem;
            font-size: 1.5rem;
            text-align: right;
        }
    }

    .market-location-box {
        position: absolute;
        text-align: center;
        top: 0.75rem;
        left: 0.75rem;
        border: 1px $color-warning solid;
        padding: .5rem;
        min-width: 42px;
        min-height: 42px;
        box-shadow: inset 0px 0px 2px $color-warning;
        background-color: #fff;
    }

    .market-list {
        display: none;
        position: absolute;
        background-color: rgba(0, 0, 0, .8);
        color: #fff;
        padding: .5em;
        font-size: .75rem;
        top: calc(46px + .75rem);
        border: 1px #000000 solid;

        ul {
            padding-left: .25rem;
            margin: .1em;
            list-style: none;
        }
    }

    .market-location-box:hover ~ .market-list {
        display: block;
    }
}
