.company-view {
    .col-offer {
        margin-bottom: 1rem;
    }

    .col-market-image {
        text-align: center;
    }

    .col-market-info {
        align-self: center;
    }

    .col-offer-count {
        align-self: center;
        text-align: right;
    }

    .market-info-box {
        padding: 1rem;
    }

    .offer-box {
        display: flex;
        flex-flow: column;
        height: 100%;
        padding: 0.75rem;

        .image {
            text-align: center;
            margin-bottom: 1rem;
        }

        .name {
            flex: 2 0 auto;
        }

        .price {
            min-height: 1.5rem;
            font-size: 1.5rem;
            text-align: right;
        }
    }

    .market-list {
        display: none;
        position: absolute;
        background-color: rgba(0, 0, 0, .8);
        color: #fff;
        z-index: 999;
        padding: .5em;
        font-size: .75rem;

        ul {
            padding-left: .25rem;
            margin: .1em;
        }
    }

    .market-location:hover ~ .market-list {
        display: block;
    }
}
