.company-index {
    .market-box {
        display: flex;
        flex-flow: column;
        height: 100%;
        padding: 0.75rem;

        .image {
            text-align: center;
            line-height: 0;
        }
    }

    .col-market {
        margin-bottom: 1rem;
    }
}
