@import '../variables.scss';

.productfavorite-manage {
    .card-product {
        height: 100%;
        margin: 0;

        .card-body {
            height: 100%;
            display: flex;
            flex-flow: column;
        }
    }

    .col-product {
        padding-bottom: 30px;
    }
}
