.productfavorite-manage {
    .select-market {
        margin-bottom: .5rem;
    }

    .col-product {
        margin-bottom: 1rem;
    }

    .product-box {
        display: flex;
        flex-flow: column;
        height: 100%;
        padding: 0.75rem;

        .image {
            text-align: center;
            margin-bottom: 1rem;
        }

        .name {
            flex: 2;
        }

        .price {
            min-height: 1.5rem;
            font-size: 1.5rem;
            text-align: right;
        }
    }
}
