@import '../variables.scss';

$picture-wrapper-padding: 15px;
$picture-wrapper-width: 150px + (2 * $picture-wrapper-padding) + 4px;

.productview {
    .product-info-box {
        padding: 1rem;
    }

    .col-picture {
        flex: 1 0 $picture-wrapper-width;
        justify-content: center;
        display: flex;
    }

    .picture-wrapper {
        border: 2px $color-border solid;
        padding: $picture-wrapper-padding;
        width: $picture-wrapper-width;
        height: $picture-wrapper-width;
    }

    .col-product-info {
        display: flex;
        flex-direction: column
    }

    .product-price {
        margin-top: 1rem;
        font-size: 1.2rem;
        flex-grow: 1;
        display: flex;
        justify-content: flex-end;
        flex-direction: column;
        text-align: right;
    }

    @media (min-width: 768px) {
        .col-picture {
            flex-grow: 0;
        }

        .product-price {
            text-align: left;
        }
    }
}
