.grid {
    width: 100%;
    display: flex;
    flex-flow: row wrap;

    .standard-box {
        margin: 0 1% 1rem 0;
    }

    &.col-4 .standard-box {
        width: 24%;
    }

    &.col-5 .standard-box {
        width: 19%;
    }

    &:after {
        content: "";
        flex: auto;
    }
}
