.grid {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;

    .standard-box {
        margin-bottom: 1rem;
    }

    &.col-4 .standard-box {
        width: 24%;
    }

    &.col-5 .standard-box {
        width: 19%;
    }
}
