@import '../variables.scss';

span.fa-host {
    font-size: $icon-size;
}

a.fa-host {
    color: $color-font;
    cursor: pointer;
    display: block;
    font-size: $icon-size;
    line-height: $icon-size * 2;
    height: $icon-size * 2;
    width: $icon-size * 2;

    &:hover {
        color: $color-font;
        text-shadow: 1px 1px 1px #aaaaaa;
    }
}

.fa {
    &.danger {
        color: $color-danger;
    }

    &.success {
        color: $color-success;
    }

    &.gray {
        color: $color-gray;
    }
}
