@import '../variables.scss';

.welcome-wrapper {
    display: none;
}

@media all and (min-width: 769px) {
    .welcome-wrapper {
        display: block;
    }
}

.container {
    margin: 0 auto;
    max-width: 1020px;
    padding: .5rem 1rem 0 1rem;
    position: relative;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin-bottom: 0;
    }
}

.actions {
    margin-bottom: .5rem;

    a {
        background-color: #fff;
        border-bottom: 2px $color-border solid;
        padding: .5rem;

        &:hover {
            background-color: darken(#fff, 3%);
            border-bottom: 2px darken($color-border, 15%) solid;
        }
    }

    a + a {
        margin: 0 0 0 .5rem;
    }
}

@media (min-width: 576px) {
    .card-columns {
        column-count: 3;
        column-gap: 1.25rem;
        
        &.col-4 {
            column-count: 4;
        }
    }
}

@media (min-width: 576px) {
    .card-columns .card {
        display: inline-block;
        width: 100%;
    }
}

.card-columns .card {
    margin-bottom: .75rem;
}

.card {
    display: flex;
    flex-direction: column;
    word-wrap: break-word;
    background-color: #fff;
    box-shadow: 0 1px 1px 0 rgba(50, 50, 50, .4);
}

.standard-box {
    width: 100%;
    box-shadow: 0 1px 1px 0 rgba(50, 50, 50, .4);
    background-color: #fff;
}

/*.standard-box + .standard-box {
    margin-top: .5rem;
}*/
