@import '../var/colors.scss';
@import '../var/font.scss';
@import '../var/sizes.scss';

html {
    color: $color-font;
    font-family: $font-family-sans-serif;
    font-size: $font-size;
    font-weight: $font-weight;
    line-height: 1.5;
}

html, body {
    padding: 0;
    margin: 0;
}

@media all and (max-width: 768px) {
    html {
        font-size: $font-size-small;
    }
}

div {
    box-sizing: border-box;
}


h1, h2, h3, h4, h5, h6 {
    margin: 0;
    margin-bottom: .5rem;
    font-weight: 300;
    line-height: 1.1;
}

h1 {
    font-size: 2rem;
    letter-spacing: 0.1rem;
}

h2 {
    font-size: 1.75rem;
    letter-spacing: 0.1rem;
}

h3 {
    font-size: 1.5rem;
    font-weight: 400;
    letter-spacing: 0.1rem;
}

header {
    background-color:#fff;
    border-bottom: 1px solid $color-border;
    box-shadow: 0 1px 10px rgba(0,0,0,.15);
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 20;

    .header-wrapper {
        height: 64px;
        position: relative;
    }

    .nav-toggle {
        height: 100%;
        position: absolute;
        top: 0;
        align-items: center;

        .welcome {
            display: block;
        }
    }

    .page-title {
        align-items: center;
        display: flex;
        height: 64px;
        justify-content: center;
        position: absolute;
        top: 0;
        width: 100%;
    }
}

main {
    width: 100%;
    min-height: 100vh;
    position: relative;
    display: block;
    overflow: hidden;
    background-color: white;
}

a {
    box-sizing: border-box;
    color: $color-primary;
    text-decoration: none;
    transition: color linear .1s, border-color linear .1s;

    &:hover, &:active {
        color: darken($color-primary, 10%);
        text-decoration: none;
    }

    &:visited {
    }
}

.flex-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 100%;
}

.align-right {
    display: flex;
    justify-content: flex-end;
}

.align-center {
    display: flex;
    justify-content: center;
}
