@import '../var/colors.scss';
@import '../var/font.scss';

html, body {
    color: #606c76;
    font-family: $font-family-sans-serif;
    font-size: $font-size;
    font-weight: $font-weight;
}

html, body {
    padding: 0;
    margin: 0;
}

.container {
    margin: 0 auto;
    max-width: 1020px;
    padding: 0 1rem;
    position: relative;
}

h1 {
    font-size: 2.5rem;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    margin-bottom: .5rem;
    font-weight: 500;
    line-height: 1.1;
}

.align-right {
    display: flex;
    justify-content: flex-end;
}

.align-center {
    display: flex;
    justify-content: center;
}

/*button {
    width: auto;
}

.button, button, input[type='button'], input[type='reset'], input[type='submit'] {
    background-color: $color-primary;
    border-color: $color-primary;
}

.pull-right {
    display: flex;
    justify-content: flex-end;
}

main {
    width: 100%;
    min-height: 100vh;
    position: relative;
    display: block;
    overflow: hidden;
    z-index: 100;
    background-color: white;

    .container {
        padding: 0 1rem;
    }
}

div {
    box-sizing: border-box;
}

.container {
    .title {
        display: flex;
        align-items: center;
        margin-bottom: 2rem;

        h1, h2, h3 {
            margin-right: 2rem;
            margin-bottom: 0;
        }

        div {
            margin-right: 2rem;
        }
    }
}*/
