@import '../variables.scss';

html {
    padding: 0;
    margin: 0;
    background-color: $color-main-background;
    color: $color-font;
    font-family: $font-family-sans-serif;
    font-size: $font-size;
    font-weight: $font-weight;
    line-height: 1.5;
}

body {
    padding: 0;
    margin: 0;
    background-color: $color-main-background;
    overflow-y: scroll;
}

@media all and (max-width: 768px) {
    html {
        font-size: $font-size-small;
    }
}

div {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-weight: 300;
    line-height: $heading-height;
}

h1 {
    font-size: 2rem;
    letter-spacing: 0.1rem;
}

h2 {
    font-size: 1.75rem;
    letter-spacing: 0.1rem;
}

h3 {
    font-size: 1.25rem;
    font-weight: 700;
}

header {
    background-color: #fff;
    border-bottom: 1px solid $color-border;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 20;

    .header-wrapper {
        height: $header-height;
        position: relative;
    }

    .nav-toggle {
        height: 100%;
        position: absolute;
        top: 0;
        align-items: center;

        .welcome {
            display: block;
        }
    }

    .page-title {
        align-items: center;
        display: flex;
        height: $header-height;
        justify-content: center;
        position: absolute;
        top: 0;
        width: 100%;
    }
}

main {
    min-height: 100vh;
    position: relative;
    display: block;
    overflow: hidden;
}

a {
    box-sizing: padding-box;
    color: $color-primary;
    text-decoration: none;
    transition: color linear .1s, border-color linear .1s;

    &:hover,
    &:active {
        color: darken($color-primary, 10%);
        text-decoration: none;
    }

    &:visited {
    }
}

.b-lazy {
    -webkit-transition: opacity 250ms ease-in-out;
    -moz-transition: opacity 250ms ease-in-out;
    -o-transition: opacity 250ms ease-in-out;
    transition: opacity 250ms ease-in-out;
    max-width: 100%;
    opacity: 0;
}

.b-lazy.b-loaded {
    opacity: 1;
}

.flex-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 100%;

    &.no-wrap {
        flex-wrap: nowrap;
    }
}

.align-right {
    display: flex;
    justify-content: flex-end;
}

.align-self-center {
    align-self: center
}

.align-center {
    display: flex;
    justify-content: center;
}

.flex-h-center {
    display: flex;
    justify-content: center;
}

.flex-v-center {
    display: flex;
    align-items: center
}

.p-3 {
    padding: 0.75rem !important;
}

.pt-1 {
    padding-top: 0.25rem !important;
}

.pt-2 {
    padding-top: 0.5rem !important;
}

.pt-3 {
    padding-top: 0.75rem !important;
}

.pt-4 {
    padding-top: 1rem !important;
}

.pt-5 {
    padding-top: 1.5rem !important;
}

.pb-4 {
    padding-bottom: 1rem !important;
}

.pb-5 {
    padding-bottom: 1.5rem !important;
}

.pl-5 {
    padding-left: 1.5rem !important;
}

.text-md {
    font-size: .9rem;
}

.f-stretch {
    flex: 1 0 auto;
}

.bg-red {
    background-color: $color-danger;
}

.fa {
    font-size: 14px;
}