@import "../var/colors.scss";
@import "../var/sizes.scss";

@media all and (min-width: 1201px) {
    #menu-checkbox:not(:checked) ~ nav {
        width: $nav-width;
    }

    #menu-checkbox:checked ~ nav {
        width: 0;
    }
}


@media all and (max-width: 1200px) {
    #menu-checkbox:not(:checked) ~ nav {
        width: 0;
    }

    #menu-checkbox:checked ~ nav {
        width: $nav-width;
        max-width: 100vw;
    }
}

nav {
    height: 100vh;
    position: fixed;
    overflow: hidden;
    background-color: #fff;
    padding-top: 64px;
    border-right: 1px solid $color-border;
    box-shadow: 0 0 5px $color-border;
    z-index: 10;
    transition: width ease-out .25s;

    ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    li {
        list-style: none;
        margin: 0;
        border-bottom: $border-thickness solid $color-border;

        a {
            width: 100%;
            height: 100%;
            display: block;
            padding: 10px;
            color: $color-font;

            &:hover {
                color: #fff;
                background-color: lighten($color-primary, 10%);
                transition: all linear .2s;
            }
        }
    }
}

nav + main {
    padding-top: 64px;
}

.menu-toggle {
    margin: 0 1rem;

    label {
        cursor: pointer;
    }
}
