@import '../variables.scss';

th {
    text-align: inherit;
}

.table {
    width: 100%;
    max-width: 100%;
    background-color: transparent; // Reset for nesting within parents with `background-color`.
    border-collapse: collapse;

    thead {
        th {
            border-top: 0;
            border-bottom: 1px solid $color-border;
            padding-top: .5rem;
            padding-bottom: .5rem;
            font-weight: 400;
            vertical-align: bottom;
        }
    }

    th,
    td {
        padding: 0.75rem;
        vertical-align: top;
        border-top: 1px solid $color-border;

        &.center {
            text-align: center;
        }

        &.fit {
            width: 1%;
        }
    }

    thead th {
    }

    tbody + tbody {
        border-top: 1px solid $color-border;
    }
}

.table-bordered {
    border: 1px solid $color-border;

    th,
    td {
        border: 1px solid $color-border;
    }

    thead {
        th,
        td {
            border-bottom-width: 1px;
        }
    }
}

.table-borderless {
    th,
    td,
    thead th,
    tbody + tbody {
        border: 0;
    }
}

.table-sm {
    th,
    td {
        padding: .25rem;
    }
}

.table-md {
    th,
    td {
        padding: .5rem;
    }
}

.table-vcenter {
    td,
    th {
        vertical-align: middle;
    }
}

.table-center {
    td,
    th {
        text-align: center;
    }
}

.table-striped {
    tbody tr:nth-of-type(odd) {
        background: transparent;
    }

    tbody tr:nth-of-type(even) {
        background-color: $color-table-accent;
    }
}