@import '../variables.scss';

table {
    border-collapse: collapse;
    width: 100%;
}

thead {
    th {
        background-color: #f6f6f9;
    }
}

th,
td {
    border-bottom: $border-thickness solid lighten($color-border, 10%);
    padding: .5rem 1rem;
    text-align: left;

    &.centered {
        text-align: center;
    }

    &.icon {
        width: $icon-size * 2;
        padding: 0;
        text-align: center;
    }

    &.show-large {
        display: none;
    }
}

th {
    border-bottom: 3px solid $color-border;
    font-weight: 400;
}

td {
    input {
        margin-bottom: 0;
    }
}

/* desktop */
@media all and (min-width: 769px) {
    th,
    td {
        &.show-large {
            display: table-cell;
        }
    }
}

div.table {
    display: table;
    width: 100%;

    .body {
        display: table-row-group;
    }

    .row {
        display: table-row;
        width: 100%;

        .cell {
            display: table-cell;
            border-bottom: $border-thickness solid $color-border;
            padding: .5rem .5rem;
            vertical-align: middle;

            &.icon {
                width: $icon-size * 2;
                padding: .5rem 0;
                text-align: center;
            }

            &.collapsed {
                width: 0;
            }
        }
    }

    input {
        margin-bottom: 0;
    }

    .draggable {
        cursor: move;
    }

    .dragging {
        box-shadow: inset 0 0 10px #ddd;
    }

    // hide all icons except the grip
    .drag-element [class^="icon-"]:not(.icon-grip) {
        display: none;
    }
}
