@model FlatMate.Web.Areas.Offers.Data.CompanyIndexVm

@{
    Layout = "_Layout";
    ViewData["Title"] = "Märkte";
    ViewData["PageTitle"] = "Märkte";
    ViewData["MainClass"] = "company-index";
}

<section class="container">

    <div class="page-header">
        <h1 class="page-title">@ViewData["PageTitle"]</h1>
        <div class="page-options d-flex">
            <a asp-controller="ProductFavorite" asp-action="Manage" class="btn">Favoriten verwalten</a>
        </div>
    </div>

</section>

<section class="container">

    <div class="row">
        @foreach (var company in Model.Companies)
        {
            <div class="col-sm-6 col-market">
                <a asp-action="View" asp-controller="Offer" asp-route-companyId="@((int) company.Id)" class="card card-company">
                    <div class="card-body p-3">
                        <img src="@company.ImagePath" style="width: 100%" alt="@company.Name"/>
                    </div>
                </a>
            </div>
        }
    </div>

</section>