@model FlatMate.Web.Areas.Offers.Data.MarketOffersVm

@{
    Layout = "_Layout";
    ViewData["Title"] = Model.Company.Name;
    ViewData["PageTitle"] = "Im Angebot";
    ViewData["MainClass"] = "company-view";
}

<section class="container" style="min-height: 100vh">

    <company-offers-list style="height: 100%"></company-offers-list>

</section>

<script type="text/html" id="company-offers-list-template">
    <div class="row align-right actions">
        <div class="col-auto">
            <a data-bind="attr: { href: productFavoriteLink }">Favoriten verwalten</a>
        </div>
    </div>

    <div class="standard-box market-info-box">

        <div class="row">
            <div class="col-sm-12 col-md-3 col-market-image">
                <img data-bind="attr: { src: company.imagePath, alt: company.name }" height="66"/>
            </div>
            <div class="d-none d-md-block col-md-6 col-market-info">
                Angebote von:
                <ul data-bind="foreach: {data: Object.keys(markets), as: '_propkey'}">
                    <li>
                        <span data-bind="text: markets[_propkey].name"></span> (<span data-bind="text: markets[_propkey].street"></span>)
                    </li>
                </ul>
            </div>
            <div class="col-sm-12 col-md-3 col-offer-count">
                <span data-bind="text: offerCount"></span> Produkte im Angebot<br/>
                von <span data-bind="text: offersFromFormatted"></span> bis <span data-bind="text: offersToFormatted"></span>
            </div>
        </div>
    </div>

    <!-- ko if: favorites.length > 0 -->

    <h3>Favoriten</h3>
    <div class="row">

        <!-- ko foreach: favorites -->

        <div class="col-sm-6 col-lg-4 col-xl-3 col-offer" data-bind="component: {name: 'offered-product-tile', params : {product: $parentContext.$component.getOfferedProductModel($data)}} "></div>

        <!-- /ko-->

    </div>

    <!-- /ko -->

    <!-- ko foreach: categories -->
    <h3>
        <span data-bind="text: name"></span>
    </h3>
    <div class="row">

        <!-- ko foreach: products -->

        <div class="col-sm-6 col-lg-4 col-xl-3 col-offer" data-bind="component: {name: 'offered-product-tile', params : {product: $parentContext.$component.getOfferedProductModel($data)}} "></div>

        <!-- /ko-->

    </div>

    <!-- /ko-->
</script>

<script type="text/html" id="offered-product-tile-template">

    <div class="standard-box offer-box">

        <a data-bind="attr: { 'href': productUrl }">

            <div class="image" style="position: relative">
                <img class="b-lazy"
                     src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                     data-bind="attr: { 'data-src': imageUrl, 'alt': name }"
                     width="150"
                     alt=""/>
            </div>

            <div class="name">
                <strong>
                    <span data-bind="text: name"></span>
                </strong>
            </div>

            <div data-bind="if: isStartingLater">
                ab <span data-bind="text: offerFrom"></span>
            </div>

            <div class="price">
                <span style="font-size: 1.5rem"><span data-bind="text: price"></span> €</span>
            </div>


        </a>

        <!-- ko if: !isEverywhereAvailable -->
        <div class="market-location-box">
            <i class="fa fa-map-marker market-location"></i>
        </div>
        <div class="market-list">
            <div>
                Nur verfügbar bei:
            </div>
            <ul data-bind="foreach: offers">
                <li>
                    <span data-bind="text: $parent.getMarketName(marketId).name"></span>
                </li>
            </ul>
        </div>
        <!-- /ko-->

    </div>
</script>

@section viewData {
    <script type="text/json" id="data-company-offers-list">
        @Json.Serialize(Model)
    </script>
}