/**
 * Colors
 */

$color-primary: #1a8ee9;
$color-success: #5cb85c;
$color-info: #5bc0de;
$color-warning: #f0ad4e;
$color-danger: #d9534f;

$color-gray: #aaaaaa;

$color-main-background: #e5e7ea;
$color-border: #d1d1d1;
$color-background: #f4f5f6;

/**
 * Font
 */
$font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif !default;
$font-size: 16px;
$font-size-small: 14px;
$font-weight: 400;

$color-font: #000;
$color-font-input: #55595c;

/**
 * Sizes
 */
$border-radius: 0;
$border-thickness: 1px;

$nav-width: 15em;
$nav-width-small: 15em;

$icon-size: 14px;
$icon-burger-size: 32px;
