@import '../var/colors.scss';
@import '../var/sizes.scss';

.actions {
    margin-bottom: 1rem;

    a {
        border-bottom: 2px $color-border solid;
        margin: 0 .5rem 0 0;
        padding: .5rem;
    }
}

.picture-wrapper {
    border: 2px $color-border solid;
    margin-right: 1rem;
    padding: 1rem;

    .picture {
        height: 150px;
        width: 150px;
    }
}


.informations {
    .key {
        border-bottom: 1px $color-border solid;
        padding: .5rem;
        width: 10rem;
    }

    .value {
        margin-left: 2rem;
        padding: .5rem;
    }
}
