@model FlatMate.Web.Areas.Offers.Data.MarketViewVm

@{
    Layout = "_Layout";
    ViewData["Title"] = Model.Market.Name;
    ViewData["PageTitle"] = Model.Market.Name;
}

<section class="container">

    @{
        var offersByProductCategory = Model.Offers.OrderByDescending(o => o.Product.ProductCategory.SortWeight)
                                                  .GroupBy(o => o.Product.ProductCategory.Id);
    }


    @foreach (var offersGroup in offersByProductCategory)
    {
        <h3 style="margin: 1rem 0;">@Model.ProductCategories[offersGroup.Key].Name</h3>

        <div class="grid col-5">

            @foreach (var offer in offersGroup.OrderBy(x => x.Product.ExternalId))
                {
                <div class="standard-box offer-box">

                    <div class="image">
                        <img class="b-lazy" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="@offer.ImageUrl?resize=150px:150px" width="150" height="150" />
                    </div>

                    <div class="name">
                        <strong>@offer.Product.Name</strong>
                    </div>

                    <div class="price">
                        <span style="font-size:1.5rem">@offer.Price €</span>
                    </div>

                </div>
            }

        </div>
    }


</section>