@model FlatMate.Web.Areas.Lists.Data.ItemListCreateVm

@{
    Layout = "_Layout";
    ViewData["Title"] = "Liste erstellen";
    ViewData["PageTitle"] = "Liste erstellen";
    ViewData["MainClass"] = "list-itemlist-create";
}

<section class="container">

    <div class="page-header">
        <h1 class="page-title">@ViewData["PageTitle"]</h1>
        <div class="page-options d-flex"></div>
    </div>

</section>

<section class="container centered-form">

    <form asp-area="Lists" asp-controller="ItemList" asp-action="Create" method="post" class="card">
        <div class="card-body">
            <fieldset>
                <div class="form-group">
                    <label asp-for="Name"></label>
                    <input asp-for="Name" required/>
                </div>

                <div class="form-group">
                    <label asp-for="Description"></label>
                    <input asp-for="Description"/>
                </div>

                <div class="form-group">
                    <label asp-for="IsPublic"></label>
                    <input asp-for="IsPublic"/>
                </div>
            </fieldset>
        </div>
        <div class="card-footer">
            <div class="d-flex">
                <input class="btn btn-primary ml-auto" type="submit" value="Erstellen">
            </div>
        </div>
    </form>

</section>