@model FlatMate.Web.Areas.Lists.Data.ItemListUpdateVm

@{
    Layout = "_Layout";
    ViewData["Title"] = "Liste bearbeiten";
    ViewData["PageTitle"] = "Liste bearbeiten";
}

<section class="container">

    <div class="page-header">
        <h1 class="page-title">@ViewData["PageTitle"]</h1>
        <div class="page-options d-flex">
            <a asp-area="Lists" asp-controller="ItemList" asp-action="View" asp-route-id="@Model.Id" class="btn">Zur Liste</a>
        </div>
    </div>

</section>

<section class="container centered-form">

    <form asp-area="Lists" asp-controller="ItemList" asp-action="Update" class="card">
        <div class="card-body">
            <fieldset>
                <div class="form-group">
                    <label asp-for="Name"></label>
                    <input asp-for="Name" required/>
                </div>

                <div class="form-group">
                    <label asp-for="Description"></label>
                    <input asp-for="Description"/>
                </div>

                <div class="form-group">
                    <label asp-for="IsPublic"></label>
                    <input asp-for="IsPublic"/>
                </div>
            </fieldset>
        </div>

        <div class="card-footer">
            <div class="d-flex">
                <a asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-danger">Löschen</a>
                <input class="btn btn-primary ml-auto" type="submit" value="Speichern">
            </div>
        </div>
    </form>

</section>