@model FlatMate.Web.Areas.Lists.Data.ItemListUpdateVm

@{
    Layout = "_Layout";
    ViewData["Title"] = "Liste: " + Model.Name + " bearbeiten";
    ViewData["PageTitle"] = Model.Name + " bearbeiten";
}

<section class="container">

    <div class="flex-row actions">
        <a asp-area="Lists" asp-controller="ItemList" asp-action="View" asp-route-id="@Model.Id">Zur Liste</a>
    </div>

</section>

<section class="container centered-form">

    <div class="alert-wrapper">
        @if (Model.IsError)
        {
            <div class="alert alert-danger">@Model.Result.Message</div>
        }
        else if (Model.IsSuccess)
        {
            <div class="alert alert-success">@Model.Result.Message</div>
        }
    </div>

    <div class="standard-box centered-form">
        <form asp-area="Lists" asp-controller="ItemList" asp-action="Update">
            <fieldset>

                <div class="form-group">
                    <label asp-for="Name"></label>
                    <input asp-for="Name" required />
                </div>

                <div class="form-group">
                    <label asp-for="Description"></label>
                    <input asp-for="Description" />
                </div>

                <div class="form-group">
                    <label asp-for="IsPublic"></label>
                    <input asp-for="IsPublic" />
                </div>

                <div class="form-group flex-row">

                    <div class="flex-row" style="width: 50%">
                        <a asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-danger">Löschen</a>
                    </div>

                    <div class="flex-row align-right" style="width: 50%">
                        <input class="btn-primary" type="submit" value="Ändern">
                    </div>
                </div>

            </fieldset>
        </form>
    </div>

</section>