@model FlatMate.Web.Areas.Lists.Data.ItemListViewVm

@{
    Layout = "_Layout";
    ViewData["Title"] = Model.List.Name;
    ViewData["PageTitle"] = Model.List.Name;
    ViewData["MainClass"] = "itemlist-view";
}

<section class="container">

    <div class="page-header">
        <h1 class="page-title">@ViewData["PageTitle"]</h1>
        <div class="page-options d-flex">
            @if (Model.List.Owner.Id == Model.CurrentUser.Id)
            {
                <a asp-action="Update" asp-route-id="@Model.List.Id" class="btn">Liste bearbeiten</a>
            }
        </div>
    </div>

</section>

<section class="container">

    <item-list-editor style="width: 100%"></item-list-editor>

</section>

<script type="text/html" id="item-list-editor-template">

    <!-- ko foreach: groups -->
    <div class="card">
        <div class="card-header">
            <div class="group-title" data-bind="click: enterEditMode, visible: !isInEditMode()">
                <h3 class="card-title" data-bind="text: name"></h3>
                <i class="fa fa-pencil" aria-hidden="true"></i>
            </div>
            <input type="text" data-bind="value: name, visible: isInEditMode, hasFocus: isInEditMode, event: { blur: leaveEditMode }, enterkey: leaveEditMode"/>

            <div class="card-options">
                <a class="fa-host" aria-hidden="true" data-bind="click: $parent.removeGroup, visible: !isRemoveLoading()" title="Gruppe löschen">
                    <i class="fa fa-times danger" aria-hidden="true"></i>
                </a>
                <span class="fa-host" data-bind="visible: isRemoveLoading">
                    <i class="fa fa-circle-o-notch fa-spin fa-fw" aria-hidden="true"></i>
                </span>
            </div>
        </div>

        <table class="table table-vcenter card-table">
            <tbody data-bind="event: zoneEvents">

            <!-- ko foreach: items -->
            <tr class="drag-item" data-bind="event: $parent.itemEvents">
                <td class="fit" draggable="true" data-bind="event: $parent.handleEvents">
                    <i class="fa fa-bars gray drag-handle"></i>
                </td>
                <td class="item-name" data-bind="click: enterEditMode">
                    <div data-bind="visible: !isInEditMode()">
                        <span data-bind="text: name"></span>
                        <i class="fa fa-pencil" aria-hidden="true" data-bind="visible: !isInEditMode()"></i>
                    </div>

                    <input type="text" data-bind="value: name, visible: isInEditMode, hasFocus: isInEditMode, event: { blur: leaveEditMode }, enterkey: leaveEditMode"/>
                </td>
                <td></td>
                <td class="fit">
                    <a class="fa-host" aria-hidden="true" data-bind="click: $parent.removeItem, visible: !isRemoveLoading()" title="Eintrag löschen">
                        <i class="fa fa-times danger" aria-hidden="true"></i>
                    </a>
                    <span class="fa-host" data-bind="visible: isRemoveLoading">
                        <i class="fa fa-circle-o-notch fa-spin fa-fw" aria-hidden="true"></i>
                    </span>
                </td>
            </tr>
            <!-- /ko -->

            </tbody>
        </table>

        <div class="card-footer">
            <div class="d-flex">
                <div class="f-stretch">
                    <input type="text" placeholder="Neuen Eintrag hinzufügen" data-bind="textInput: newItemName, hasFocus: isNewItemFocused, enterkey: addItem"/>
                </div>

                <div class="pl-5">
                    <a class="fa-host" aria-hidden="true" data-bind="click: addItem, visible: !isAddLoading()">
                        <i class="fa fa-plus" aria-hidden="true"></i>
                    </a>
                    <span class="fa-host" data-bind="visible: isAddLoading">
                        <i class="fa fa-circle-o-notch fa-spin fa-fw" aria-hidden="true" data-bind="visible: isAddLoading"></i>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <!-- /ko -->

    <div class="card">
        <div class="card-body d-flex">
            <div class="f-stretch">
                <input type="text" placeholder="Neue Gruppe hinzufügen" data-bind="textInput: $component.newGroupName, enterkey: addGroup"/>
            </div>

            <div class="pl-5">
                <a class="fa-host" aria-hidden="true" data-bind="click: addGroup, visible: !isAddLoading()">
                    <i class="fa fa-plus" aria-hidden="true"></i>
                </a>
                <span class="fa-host" data-bind="visible: isAddLoading">
                    <i class="fa fa-circle-o-notch fa-spin fa-fw" aria-hidden="true" data-bind="visible: isAddLoading"></i>
                </span>
            </div>
        </div>
    </div>

</script>

<script type="text/html" id="drag-placeholder-template">
    <table>
        <tr class="drag-placeholder">
            <td colspan="4">
                <div></div>
            </td>
        </tr>
    </table>

</script>

@section viewData {
    <script type="text/json" id="data-itemlist">
        @Json.Serialize(Model.List)
    </script>
}