@model FlatMate.Web.Areas.Lists.Data.ItemListViewVm

@{
    Layout = "_Layout";
    ViewData["Title"] = "Liste: " + Model.List.Name;
    ViewData["PageTitle"] = Model.List.Name;
}

<section class="container flex-row">

    <div class="flex-row actions" style="width: 50%">
        <a href="javascript:history.back()">Zurück</a>
    </div>

    <div class="flex-row align-right actions" style="width: 50%">
        <a asp-action="Update" asp-route-id="@Model.List.Id">Liste bearbeiten</a>
    </div>

</section>

@section viewData {
    @Json.Serialize(Model.List)
}

@section pageScript {
    <script type="text/javascript">
        new Flatmate.Areas.Lists.ItemListEditor();
    </script>
}
