@model FlatMate.Web.Areas.Lists.Data.ItemListViewVm

@{
    Layout = "_Layout";
    ViewData["Title"] = "Liste: " + Model.List.Name;
    ViewData["PageTitle"] = Model.List.Name;
    ViewData["MainClass"] = "itemlist-view";
}

<section class="container">

    <div class="flex-row align-right actions">
        @if (Model.List.Owner.Id == Model.CurrentUser.Id)
        {
            <a asp-action="Update" asp-route-id="@Model.List.Id">Liste bearbeiten</a>
        }
    </div>

</section>

<section class="container">

    <item-list-editor style="width: 100%"></item-list-editor>

</section>

<script type="text/html" id="item-list-editor-template">

    <div class="standard-box table">

        <div class="body">

            <!-- ko foreach: groups -->
            <div class="row group-row">

                <div class="cell" data-bind="click: enterEditMode">
                    <strong>
                        <span data-bind="text: name, visible: !isInEditMode()"></span>
                    </strong>
                    <input type="text" data-bind="value: name, visible: isInEditMode, hasFocus: isInEditMode, event: { blur: leaveEditMode }, enterkey: leaveEditMode" />
                </div>

                <div class="cell"></div>

                <div class="cell icon">
                    <a class="fa-host" aria-hidden="true" data-bind="click: $parent.removeGroup, visible: !isRemoveLoading()">
                        <i class="fa fa-times danger" aria-hidden="true"></i>
                    </a>
                    <span class="fa-host" data-bind="visible: isRemoveLoading">
                        <i class="fa fa-circle-o-notch fa-spin fa-fw" aria-hidden="true"></i>
                    </span>
                </div>

            </div>

            <!-- ko foreach: items -->
            <div class="row" data-bind="css: { dragging: isDragging }, dragZone: $parent.dragZone, dragEvents: $parent.dragEvents($data)">

                <div class="cell">
                    <div class="flex-v-center">
                        <span class="fa-host drag-handle">
                            <i class="fa fa-bars gray"></i>
                        </span>
                        <div class="flex-grow word-break-all" data-bind="click: enterEditMode">
                            <span data-bind="text: name, visible: !isInEditMode()"></span>
                            <input type="text" data-bind="value: name, visible: isInEditMode, hasFocus: isInEditMode, event: { blur: leaveEditMode }, enterkey: leaveEditMode" />
                        </div>
                        <div class="lasteditor" data-bind="visible: isLastEditorVisible">von <span data-bind="text: lastEditor"></span></div>
                    </div>
                </div>

                <div class="cell icon"></div>

                <div class="cell icon">
                    <a class="fa-host" aria-hidden="true" data-bind="click: $parent.removeItem, visible: !isRemoveLoading()">
                        <i class="fa fa-times danger" aria-hidden="true"></i>
                    </a>
                    <span class="fa-host" data-bind="visible: isRemoveLoading">
                        <i class="fa fa-circle-o-notch fa-spin fa-fw" aria-hidden="true"></i>
                    </span>
                </div>

            </div>
            <!-- /ko -->

            <div class="row">

                <div class="cell add-item-cel">
                    <input type="text" placeholder="Neuen Eintrag hinzufügen" data-bind="textInput: newItemName, hasFocus: isNewItemFocused, enterkey: addItem" />
                </div>

                <div class="cell icon">
                    <a class="fa-host" aria-hidden="true" data-bind="click: addItem, visible: !isAddLoading()">
                        <i class="fa fa-plus" aria-hidden="true"></i>
                    </a>
                    <i class="fa fa-circle-o-notch fa-spin fa-fw" aria-hidden="true" data-bind="visible: isAddLoading"></i>
                </div>

                <div class="cell icon"></div>

            </div>

            <!-- /ko -->
        </div>
    </div>

    <div class="standard-box table group-new">

        <div class="row">

            <div class="cell">
                <input type="text" placeholder="Neue Gruppe hinzufügen" data-bind="textInput: $component.newGroupName, enterkey: addGroup" />
            </div>

            <div class="cell icon">
                <a class="fa-host" aria-hidden="true" data-bind="click: addGroup, visible: !isAddLoading()">
                    <i class="fa fa-plus" aria-hidden="true"></i>
                </a>
                <i class="fa fa-circle-o-notch fa-spin fa-fw" aria-hidden="true" data-bind="visible: isAddLoading"></i>
            </div>

            <div class="cell icon"></div>

        </div>

    </div>

</script>

@section viewData {
    <script type="text/json" id="data-itemlist">
        @Json.Serialize(Model.List)
    </script>
}
